<footer class="footer">
      <div class="container">
        <p>© Vaibhav Rajput</p>
        <ul class="footer-links">
          <li><a target=_blank href="http://in.linkedin.com/in/vaibhavrajput/">Linkedin</a></li>
          <li class="muted">·</li>
          <li><a target=_blank href="http://twitter.com/rajputvai">Twitter</a></li>
          <li class="muted">·</li>
          <li><a target=_blank href="http://github.com/rajputvai">GitHub</a></li>
          <li class="muted">·</li>
          <li><a target=_blank href="http://facebook.com/vaibhav.google">Facebook</a></li>
        </ul>
      </div>
    </footer>